* {
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #121212;
}

.container {
    display: flex;
    width: 100%;
}

section {
    min-height: 100vh;
}

.card {
    padding: 50px;
    background-color: #212121;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.profile {
    object-fit: cover;
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-right: 50px;
    animation: reveal 1s forwards;
}

.profile-card {
    text-align: center;
}

.details-card {
    width: 100%;
    border-radius: 5px;
}

.title {
    font-style: italic;
}

nav {
    display: flex;
    align-items: center;
    background-color: #212121;
    padding: 10px;
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.nav-items ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    width: 100%;
}

.nav-items ul li {
    padding: 10px 20px;
}

.nav-items ul li a {
    text-decoration: none;
}

.logo {
    max-width: 40px;
    height: auto;
}

.profile-text {
    opacity: 0;
    animation: reveal 1s forwards;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
